@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Source+Sans+3:wght@400;500;600;700&display=swap');

:root{
    --cor-prinpal-: #ff2c41;
    --cor-principal: #f22439;
    --cor-principal-hover: #ca2135;

    --cor-secundaria: #0036F1;
    --cor-secundaria-hover: #012ecf;

    --cor-fundo: #F9FAFE;
    --cor-branca: #FFF;
    --cor-preta: #000;

    --borda: #dddada;

    --cor-fundo-rodape: #0E192E;
    --cor-letra-rodape: #D1D5DB;
    --cor-titulo-rodape: #eff1f3;

    --fonte-titulo: "Poppins", sans-serif;
    --fonte-texto: "Source Sans 3", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid re;
}

h1, h2, h3{
    font-family: var(--fonte-titulo);
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
    line-height: 1.5;
}


/* Inicio do Menu */
.menu-pri{
    width: 100%;
    background-color: var(--cor-branca);
    border-bottom: 2px solid var(--borda);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-principal{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.menu-principal a{
    color: var(--cor-preta);
}

.logo{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img img{
    max-width: 70px;
}

.logo-texto{
    font-size: 1.6rem;
    font-weight: 700;
}

.plus{
    display: inline-block;
    color: var(--cor-principal);
    padding-left: 1px;
    transition: transform 1s, opacity 1s, color .4s, filter .4s, text-shadow .3s;
}

.plus:hover{
    color: var(--cor-principal-hover);
    transform: scale(1.3) translateX(5px) rotate(45deg);
    text-shadow: 0 0 8px rgba(225,29,72,.4);
}

.plus:active{
    transform: translateY(20px) translateX(20px) rotate(180deg) scale(.5);
    opacity: 0;
    filter: blur(1.5px);
}

.menu{
   flex: 2;
}

.menu ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    
}

.menu a{
    font-weight: 700;
    transition: color .3s, transform .5s;
    border-bottom: 2px solid transparent;
}

.menu a:hover{
    transform: translateY(-3px) scale(1.05);
    color: var(--cor-principal);
}

.menu a:focus{
    transform: translateY(3px);
    color: var(--cor-principal);
    border-bottom: 2px solid var(--cor-principal);
}

.botao-entrar{
    width: 100%;
    text-align: center;
    flex: 1;
}

.botao-entrar a{
    cursor: pointer;
    width: 100%;
    max-width: 100px;
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 700;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    box-shadow: 5px 5px 10px #00000033;
    transition: background-color .5s, transform .5s, box-shadow .5s;
}

.botao-entrar a:hover{
    background-color: var(--cor-prinpal-);
    transform: translateY(-3px);
    box-shadow: 7px 7px 15px #00000040;
}

.botao-entrar a:active{
    background-color: var(--cor-principal-hover);
    transform: translateY(3px) scale(0.95);
    box-shadow: none;
}
/* Fim do Menu */

/* Inicio do Conteudo */
#container{
    width: 100%;
    margin-bottom: 50px;
}

.principal-plano{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topo-principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.topo-texto{
    text-align: center;
}

.topo-imagem img{
    max-width: 70%;
    margin: auto;
    opacity: 0.3;
}

.cards-planos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.planos{
    padding: 30px;
    background-color: var(--cor-branca);
    border: 2px solid var(--borda);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000033;
}

.todos-planos{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor-secundaria);
}

.todos-planos img{
    width: 20px;
    transition: transform .5s;
}

.todos-planos img:hover{
    transform: rotate(135deg);
}
/* Fim do Conteudo */

/* Inicio do Rodape */
.rodape-princ{
    width: 100%;
    min-height: 250px;
    gap: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo-rodape);
    color: var(--cor-titulo-rodape);
    border-top: 2px solid var(--borda);
}

.rodape{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80%;
    gap: 20px;
}

.rodape a{
    color: var(--cor-letra-rodape);
}

.rodape-redes ul{
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}

.rodape-redes a{
    border-radius: 50%;
    border: 2px solid transparent;
}

.rodape-redes a:hover{
    transform: translateY(-5px) scale(1.05);
}

.rodape-redes a:active{
    transform: translateY(5px) scale(0.95);
}

.rodape-redes img{
    border-radius: 50%;
    max-width: 50px;
}

.rodape-copy{
    text-align: center;
}
/* Fim do Rodape */